<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<include file="$(find cygnus_gazebo)/launch/cygnus_world.launch" />
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find cygnus_description)/model/model.urdf'"/>

        <node name="cygnus_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model cygnus" />

</launch>
