<launch>

	<rosparam file="$(find cygnus_control)/config/cygnus_control.yaml" command="load" />

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/cygnus" 
args="joint_state_controller
      motor1_controller
      motor2_controller
      motor3_controller
      motor4_controller "/>

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" respawn="false" >
	<remap from="/joint_states" to="/cygnus/joint_states"/>
	</node>

</launch>
